<!DOCTYPE html>
<html lang="en">

<head>
    <title>Network</title>
</head>

<body>
    <form action='/find' method='POST'>
        <label>Search for appropriate keyword</label>
        <input type="text" name='key' placeholder='Enter the keyword'>
        <button>Submit</button>
    </form>
</body>

</html>