<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="network1.css">
</head>
<body>
	<div id="mySidenav" class="sidenav">
        <a href="/home" id="home">Home</a>
        <a href="/about" id="about">About</a>
        <a href="/search" id="search">Search</a>
        <a href="/member" id="members">Members</a>
      </div>
	
	<div id = header>
		About
	</div>
<div id="Aboutt">
<div id="box">	
	<div id="about1">
	Finding the right type of data for a specific problem is not easy, and despite the huge amount of collected and even processed datasets over the internet, many times you'll be forced to extract information from scratch in the messy, wild web. That’s where web crawling comes in.
	</div>
	<div id="about2">
	Web Crawling is data scraping used for extracting data from websites. Web crawling software may access the World Wide Web directly using the Hypertext Transfer Protocol, or through a web browser
	</div>
	<div id="about3">
	 Its job is to automatically crawl web pages of our choice, scrape the desired  information from them and then display it. 
</div>
</div>

<div id = "button">
	<a href="/home" class="previous round" style="font-size: 60px">&#10216;&#10216;</a>
	<a href="/search" class="next round" style="font-size: 60px">&#10217;&#10217;</a>
</div>

</body>
</html>