<!DOCTYPE html>
<html>

<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="network2.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
</head>

<body>
    <div id="home1">
        <div id="mySidenav" class="sidenav">
            <a href="/home" id="home">Home</a>
            <a href="/about" id="about">About</a>
            <a href="/search" id="search">Search</a>
            <a href="/member" id="members">Members</a>
          </div>

        <div id="header">
            Find your article here
        </div>
        <form action='/scrape' method="POST">
            <div id="Search">
                <div class="search-box">
                    <input class="search-txt" type="text" name="key" placeholder="Type To Search">
                    <a class="search-btn" href="#">
                        <i class="fas fa-search"></i>
                    </a>
                </div>
            </div>
        </form>

        <div style="width:300px;margin-left: 84vh;margin-top:5vh">
            <script async src="https://cse.google.com/cse.js?cx=000158231355644912054:upbu47doete"></script>
            <div class="gcse-search"></div>
        </div>

        <div id="button">
            <a href="/about" class="previous round" style="font-size: 60px">&#10216;&#10216;</a>
            <a href="/member" class="next round" style="font-size: 60px">&#10217;&#10217;</a>
        </div>

</body>

</html>